table {
    width: 90%;
    border: 1px solid black;
}

td ul {
    list-style: none;
}

h1 {
    text-align: center;
    font-variant: small-caps;
}

#trends_header {
    width: 30%;
}

a.selected {
    background: yellow;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background: silver;
}

a.trend {
    color: blue;
}
